.site-header{

  padding-top: 100px;
  padding-bottom: 40px;


  .site-description{
      color: #526B87;
      letter-spacing: 0;

  }

  .site-title{
      padding-bottom: 40px;
  }

}

.site-nav{
    width:80%;
    margin:auto;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 40px;


}


.header-background{
  z-index: -10;
  @include background-gradiant;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 100%;
}
