{% comment %} {{ page.url | inspect }} {% endcomment %}

<header class="site-header container-fluid center">
    <div class="site-title center">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p class="site-description">Biographical Page &amp; Blog</p>
    </div>
    <div class="site-nav">
        <a class="page-link button_outline" href="{{ site.baseurl }}/">Blog</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link button_outline" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </div>


</header>
